<%= form_for(@benefit) do |f| %>

  <div class="form-group text-center">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %></div>

  <div class="actions text-center">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
