<h1>Listed Benefits</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><strong>Benefit</strong></td>
      <td><strong>Associated Vitamins</strong></td>
    </tr>
    <% @benefits.each do |benefit| %>
      <tr>

        <td><%= benefit.name %></td>
        <% benefit.vitamins.each do |vitamin| %>
        <td><%= vitamin.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<% if @user %>
  <p>
    <%= link_to "Back to profile", user_path(@user), {:class => "btn btn-primary"} %>
  </p>
<% else %>
  <p><%= link_to 'New Benefit', new_benefit_path %></p>
<% end %>
