<%= render 'header' %>

<section>
  <div class="text-center">
    <h1>Associated Vitamins:</h1>
      <% @benefit.vitamins.each do |vitamin| %>
        <h2><li> <%= link_to vitamin.name, vitamin_path(vitamin) %> </li></h2>
      <% end %>
  </div>
</section>

  </br>
  </br>


  </div>
</section>
