<div class="vitamin row">
  <div class="col-lg-6">
    <h4><%= show_vitamin_name(vitamin) %></h4>
    <p><%= edit_delete_vitamin_links(vitamin) %></p>
  </div>

  <div class="col-lg-6">
    <p><%= benefit_count(vitamin) %></p>
  </div>
</div>
