<%= render 'header' %>

</br>
<section>
  <div class="contailer text-center">
    <div class="info">
      <%= render 'form' %>
    </div>
  </div>

</section>
</br>

<div id="vitaminResult">
  <p id="vitaminName"></p>
  <p id="vitaminCapsuleAmount"></p>
  <p id="vitaminBenefits"></p>

</div>
</br>
