<%= render 'header' %>

<div class="text-center">
  <h1>New Vitamin</h1>
</div>

<%= render 'form' %>
</br>
<div id="vitaminResult">
  <p id="vitaminName"></p>
  <p id="vitaminCapsuleAmount"></p>
  <p id="vitaminBenefits"></p>

</div>
</br>
<%= render 'layouts/footer' %>
