<%= render 'header' %>

</br>

<section>
  <div class="container text-center">
    <div class="center">
      <section>
        <div class="info">
          <strong>
            <% if @user.vitamin_packs.any? %>

            <div class="center">

              <h3><span><%= link_to "Load Vitamin Packs", user_vitamin_packs_path(@user), :class => "js-packs-index center" %></span></h3>

              <div class="main center ">
              </div>

            </div>

            <% else %>
              <h3><span>You don't have any vitamin packs yet! Create one <%= link_to "here", new_user_vitamin_pack_path(@user) %>.</span></h3>
            <% end %>

          </strong>
        </div>
      </section>
    </div>
  </div>
</section>
