<div class="pack row center text-center">
  <div class="col-lg-6 center text-center">
    <h4><%= show_name(vitamin_pack) %></h4>
    <p><%= edit_delete_links(vitamin_pack) %></p>
  </div>

  <div class="col-lg-6 center text-center">
    <p><%= vitamin_count(vitamin_pack) %></p>
  </div>
</div>
