<%= render 'header' %>
<section>
  <div class="container text-center">
    <div class="center">
      <section>
        <div class="info ">
          <h1>Editing <%= @vitamin_pack.name %> Pack</h1>
          <%= render "form" %>
        </div>
      </section>
      </br>
    </div>
  </div>
</br>
<div class="form-main container center text-center">
</div>
</section>
