<%= render 'header' %>
<section>
  <div class="container text-center">
    <div class="center">
      <section>
        <div class="info ">
          <h1>Editing <%= @vitamin_pack.name %> Pack</h1>
          <%= render "form" %>
        </div>
      </section>
      </br>
      <section>
        <div class="container text-center fixed-bottom">
          <sub><%= link_to 'Home', @user %></sub>
        </div>
      </section>
    </div>
  </div>
</section>
