<%= render 'header' %>
<div class="text-center">
  <h1>New Vitamin Pack</h1>
</div>
<%= render partial: "form" %>

<!-- <%= render partial: "form", locals: { vitamin_pack: @vitamin_pack } %> -->
</br>
<div class="form-main container center text-center">
</div>
<%= render 'layouts/footer' %>
